# Importing library

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/MEENAKASHI/OneDrive/Desktop/Datasets/hotel_bookings.csv")

pd.set_option('display.max_columns',40)

df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [4]:
df.shape

(119390, 32)

In [5]:
#rowise missing value checkingmissing value
miss = []
for i in range(0,df.shape[0]):
    miss.append(df.iloc[i].isnull().sum())
    
for i in range(len(miss)):
    if miss[i] >= 14:
        df.drop(index = i,inplace = True)
    else:
        pass
print(df.shape)

(119390, 32)

In [6]:
#column wise cheacking missing value
for col in df.columns:
    miss = (df[col].isnull().sum()/df.shape[0])*100
    miss = round(miss,2)
    
    
    if miss >= 25:
        print("Removed columns are:",col)
        
        df = df.drop(col,axis = 1) 
    elif df[col].dtype != "float64":
        df[col] = df[col].fillna(df[col].mode()[0])
    else:
        df[col] = df[col].fillna(df[col].median())
    
print("Now the shape is:",df.shape)
print()
print("**************************************")
print()
print("Missing value Now")
print("******************")
print(df.isnull().sum())

Removed columns are: company
Now the shape is: (119390, 31)

**************************************

Missing value Now
******************
hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [7]:
def cr_tb(x,y):
    
    crotab = pd.crosstab(x,y)   #cross tab
    act_cr = crotab.copy()  #copy of crosstab for future use(act_cr)
    
    val1  =  []  #rowisw frequency sum
    val2  =  []   #columnwise frequency sum
    
    
   
    #Rowise summation frequency
    
    for i in range(crotab.shape[0]):
        sum1 = 0
        for j in range(crotab.shape[1]):
            sum1 = sum1 + crotab.iloc[i,j]
            if j == crotab.shape[1]-1:
                val1.append(sum1)
                
    #columnwise summation frequency
    for l in range(1):
        for m in range(crotab.shape[1]):
            sum2 = 0
            
            for n in range(crotab.shape[0]):
            
                sum2 = sum2 + crotab.iloc[n,m]
                
                if n == crotab.shape[0]-1:
                    val2.append(sum2)
    row_sum = val1.copy()
    col_sum = val2.copy()
    
    tot = 0
#     tot_list = row_sum + col_sum #to make totol frequency adding those two rowise and column wise list to make total
#     print(tot_list)
    for each in row_sum:
        tot = tot+each
        
    return row_sum,col_sum,tot,crotab,act_cr

row_sum,col_sum,tot,crotab,act_cr = cr_tb(df["is_repeated_guest"],df["is_canceled"])

In [8]:
def chi_fre(x,y):  
    row_sum,col_sum,cr_tot,cr,act_cr = cr_tb(x,y)
    
    
    expected = []
    for row in row_sum:
        for col in col_sum:
            
            expected.append((row*col)/cr_tot)
            
                  
#     print(expected)
    ob = act_cr.values.tolist()
    observed = [y for x in ob for y in x]
    

#     print(observed)
    chi = 0
    for i in range(len(expected)):
        chi = chi+(((observed[i]-expected[i])**2)/expected[i])
        
    return chi

# this function is for adding those summated frequency into the crosstab table

In [9]:

def cr_df(x,y):
    row_sum,col_sum,cr_tot,cr,act_cr = cr_tb(x,y)  
    cr["freq_sum"] = row_sum
    col = col_sum +[cr_tot]
    cr.loc["freq_sum"] = col
    return cr,act_cr

cr,act_cr = cr_df(df["is_repeated_guest"],df["is_canceled"])

act_cr

is_canceled            0      1
is_repeated_guest
0                  71908  43672
1                   3258    552

In [10]:
cr

is_canceled            0      1  freq_sum
is_repeated_guest
0                  71908  43672    115580
1                   3258    552      3810
freq_sum           75166  44224    119390

In [11]:
from scipy.stats import chi2
dfree = (act_cr.shape[0]-1)*(act_cr.shape[1]-1)

print('\nDegree of freedom "{}" with significane level of "{}" and the critical value is \"{}\"'.format(dfree,0.05,chi2.ppf(0.05, dfree )))


chi = chi_fre(df["is_repeated_guest"],df["is_canceled"]) 

print("\nchi square value is {}".format(chi))


print("\nHence There is Realtionship is Exist b/w independent variabe of \'is_repeated_guest\' and dependent variable of \'is_cancelled\' ")

Degree of freedom "1" with significane level of "0.05" and the critical value is "0.003932140000019522"

chi square value is 858.4050020856442

Hence There is Realtionship is Exist b/w independent variabe of 'is_repeated_guest' and dependent variable of 'is_cancelled'